* {
	box-sizing: border-box;
	font-family: 'Gloria Hallelujah', cursive;
}
h1 {
	/*display: inline-block;*/
	text-align: center;
	font-size: 60px;
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
	padding: 10px 0;
	
}
a {
	display: inherit;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	font-family: 'Gloria Hallelujah', cursive;
}
.gamebody {
	margin: 0;
	padding: 0;
	/*width: 100%;*/
}
.container {
	background-image: url("../CSS/Images/adventuretime2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/*width: 1600px;*/
	width: 100%;
	/*max-width: 1024px;*/
	height: 900px;
	margin: 0 auto;
}
.landingContainer {
	background-image: url("../CSS/Images/adventuretime2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/*width: 1600px;*/
	width: 100%;
	/*max-width: 1024px;*/
	height: 900px;
	margin: 0 auto;
}
.race {
	border-left: 3px solid black;
	border-right: 5px dashed black;
	width: 1010px;
	margin: auto;
	margin-top: 80px;
}
.playerA {
	display: inline-block;
	float: left;
	margin-left: 300px;
	color: blue;
	font-size: 24px;
	font-family: 'Gloria Hallelujah', cursive;
}
.playerB {
	display: inline-block;
	float: right;
	margin-right: 300px;
	color: yellow;
	font-size: 24px;
	font-family: 'Gloria Hallelujah', cursive;
}
.start {
	display: inline-block;
	text-align: left;
	float: left;
	padding: 5px;
	font-size: 24px;
	font-weight: 700px;
	font-family: 'Gloria Hallelujah', cursive;
}
.finish {
	display: inline-block;
	text-align: right;
	float: right;
	padding: 5px;
	font-size: 24px;
	font-weight: 700px;
	font-family: 'Gloria Hallelujah', cursive;
}
.button {
	display: block;
	text-align: center;	
}
button {
	font-size: 24px;
}

.finndiv {
	background-image: url("../CSS/Images/Finn.png");
	background-repeat: no-repeat;
	background-size: 200px;
	width: 200px;
	height: 267px;

	/*margin: 0 auto;*/
}
.jakediv {
	background-image: url("../CSS/Images/jake.png");
	background-repeat: no-repeat;
	background-size: 200px;
	width: 200px;
	height: 177px;
}
/*IMG's*/
.finn {
	width: 200px;
}
.jake {
	width: 200px;
}