* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	font-size: 80px;
}
a {
	display: inherit;
	text-align: center;
	font-size: 50px;
}
.container {
	background-image: url("../CSS/Images/adventuretime.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 700px;
	margin: 0 auto;
}
.gamebody {
	
	width: 100%;
}

.finndiv {
	background-image: url("../CSS/Images/Finn.png");
	background-repeat: no-repeat;
	background-size: 200px;
	width: 200px;
	height: 267px;

	/*margin: 0 auto;*/
}
.jakediv {
	background-image: url("../CSS/Images/jake.png");
	background-repeat: no-repeat;
	background-size: 200px;
	width: 200px;
	height: 177px;
}
/*IMG's*/
.finn {
	width: 200px;
}
.jake {
	width: 200px;
}