* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	font-size: 60px;
}
a {
	display: inherit;
	text-align: center;
	font-size: 30px;
}
.gamebody {
	margin: 0;
	padding: 0;
	/*width: 100%;*/
}
.container {
	background-image: url("../CSS/Images/adventuretime2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 1600px;
	height: 900px;
	margin: 0 auto;
}
.race {
	border-left: 3px solid black;
	border-right: 5px dashed black;
	width: 1010px;
	margin: auto;
	margin-top: 80px;
}
.playerA {
	display: inline-block;
	float: left;
	margin-left: 300px;
}
.playerB {
	display: inline-block;
	float: right;
	margin-right: 300px;
}
.start {
	display: inline-block;
	text-align: left;
	float: left;
	padding: 5px;
	font-size: 18px;
	font-weight: 700px;
}
.finish {
	display: inline-block;
	text-align: right;
	float: right;
	padding: 5px;
}
.button {
	display: block;
	text-align: center;
}

.finndiv {
	background-image: url("../CSS/Images/Finn.png");
	background-repeat: no-repeat;
	background-size: 200px;
	width: 200px;
	height: 267px;

	/*margin: 0 auto;*/
}
.jakediv {
	background-image: url("../CSS/Images/jake.png");
	background-repeat: no-repeat;
	background-size: 200px;
	width: 200px;
	height: 177px;
}
/*IMG's*/
.finn {
	width: 200px;
}
.jake {
	width: 200px;
}